form{
  margin: 0 auto;
  width: 500px;
  padding: 1rem;
  border: 3px solid #aaa;
  border-radius: 1rem;
  background:#fff;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0; 
}

form li{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

label{
  display: inline-block;
  width: 90px;
  text-align: right;
}
input ,textarea{
  font: 1rem sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5rem;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: .5rem;
}