
.summa1{
 font-family: verdana;
 
}
.grid-container{
  display: grid;
  justify-content: center;
}
table {
  border-collapse: collapse;
}

th {
  text-align: center;
  padding: 2%;
}
td{
  padding: 8px;
}
.mobilename{
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem;
  
}
.mobilereview {
  padding: 0;
  margin-top: 0;
  font-size: 2vh;
  
}
tr:nth-child(even) {
  background-color: #dddddd;
}