:root {
  --clr-primary: #2962ff;
  --clr-primary-hover: #0d47a1;
  --clr-gray-med: #78909c;
  --clr-gray-light: #cfd8dc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 2em;
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
  border-bottom: 2px solid var(--clr-gray-light);
}

.btn-add {
  width: 7em;
  height: 2em;
  font-size: 1.5em;
  border: none;
  background-color: #2962ff;
  color: white;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  border-radius: 0.2em;
  outline: none;
  transition: all 100ms ease-in;
}

.btn-add:active,
.btn-add:hover {
  background-color: var(--clr-primary-hover);
}

main {
  margin-top: 1em;
}

#div-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 2em 0em;
}

.div-shadow {
  width: 5em;
  height: 2em;
  margin: 0 1em 1em 0;
  transition: all 100ms ease-in-out;
}

.div-shadow:nth-child(odd) {
  box-shadow: 0px 0px 10px var(--clr-gray-med);
}

.div-shadow:nth-child(even) {
  box-shadow: inset 0px 0px 10px var(--clr-gray-med);
}

.div-shadow:hover {
  transform: scale(1.2);
}
