@import url('https://fonts.googlepis.com/css2?family=Poppins:wght@100;200;300;400;500;600;')
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins' , sans-serif;
}
html{
  scroll-behavior: smooth;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #131313;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar li {
  float: left;
  margin-left: 5%;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}
.navbar li a img{
  height: 3rem;

   
}
#navhead{
  margin-top: 10%;
}
#dowbtn{
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 5%;
  padding: 0.4rem 1.4rem;
  background:rgb(252, 177, 42);
  border-radius: 30px;
  border-color: (252, 177, 42);
  border-style: none;
  color: #131313;
  text-decoration:none;

}

.navbar li a:hover{
  color: rgb(252, 177, 42);

}

#runimg img{
  width: 50%;
  height: 50%;
  float: right;
  padding:0%;
}

#craft{
  width:50%;
  position: relative;
  display: block;
  float: left;
  margin:auto;
  padding-top: 20%;
  text-align: center;

}
#craft h2{
  color: rgb(252, 177, 42);
  font-weight: 700;
  font-size: 2rem;
}
#craft span{
  color: #000;
  opacity: 0.7;
  font-weight: 700;
  font-size: 2rem;
}