@import url('https://fonts.googlepis.com/css2?family=Poppins:wght@100;200;300;400;500;600;')
 /* head */ 
 *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.navbar{
	background: #131313;
	padding: 1rem 5rem;
	z-index: 1000;
}
.navbar .navbar-brand{
	font-size: 1.4rem;
	font-weight: 700;

}
.navbar-brand img{
	height: 2.5rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a{
	color: #fff;
	font-size: 1.1rem;
	font-weight: bold;
	padding: 0 0.8rem;
}
#navbarSupportedContent > ul > li:nth-child(n) > a:hover{
	color: rgb(252, 177, 42);
}

#navbarSupportedContent > a button{
	background: rgb(252, 177, 42);
	font-weight: 700;
	padding: 0.4rem 1.4rem;
	border-radius: 30px;

}
#navbarSupportedContent > a button:hover{
	opacity: 80%;

}

.home{
	justify-content: center;
	align-content: center;
	text-align: center;
}

.home.text{
	position: relative;
}

.home .text h2{
	font:900 35px/45px 'Proxima Nova wf', serif;
	color: rgb(252, 177, 42);
	font-weight: 700;
	font-size: 2.2rem;
}
.home .text span{
	line-height: 60px;
	color: #000;
    opacity: 0.7;
	font-weight: 700;
	font-size: 2.2rem;
}
.home .text a button{
	background: rgb(252, 177, 42);
	font-weight: 700;
	padding: 0.4rem 1.4rem;
	border-radius: 30px;
}
.home .text a button:hover{
	opacity: 80%;

}
.discovery{
	background-color: rgb(36, 29, 29);
}
.discovery .text{
	text-align: justify;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   margin: auto;
}

.discovery  h6{
	text-align: center;
	font:900 35px/45px 'Proxima Nova wf', serif;
   color: rgb(252, 177, 42);
   font-weight: 800;
   font-size: 2.5rem;
   letter-spacing: 2px;
   opacity: 0.8;
   
}

.discovery .text h2{
	text-align: justify;
	font:900 35px/45px 'Proxima Nova wf', serif;
   color:#312c2c;
   font-weight: 550;
   font-size: 1.55rem;
   opacity: 0.7;
}



.cards  h6{
	
	font:900 35px/45px 'Proxima Nova wf', serif;
   color: rgb(252, 177, 42);
   font-weight: 800;
   font-size: 2.5rem;
   letter-spacing: 2px;
   opacity: 0.8;
   text-align: center;
}

.line{
	background: transparent;
    bottom: 0;
    box-shadow: -11px -13px 0 #ffe682;
    content: "";
    left: 0;
}

.line1{
	background: transparent;
    bottom: 0;
    box-shadow: 13px 13px 0 #ffe682;
    content: "";
    left: 0;
}

.ctext{
	text-align: justify;
}
 
 .linerow{
	background: transparent;
    bottom: 0;
    box-shadow: 10px -8px 0 #ffe682;
    content: "";
    left: 0;
    height: 70px;
    width: 200px;
    margin-left: 68%;
    margin-bottom: -11%;
}
.linerowright{
	background: transparent;
    bottom: 0;
	box-shadow: -10px 10px 0 #ffe682;
    content: "";
    left: 0;
    height: 70px;
    width: 200px;
    margin-right: 68%;
    margin-bottom: -13%;
}
.font{
		font: 700 20px/25px 'Proxima Nova wf', sans-serif;
		color:white;
		opacity:0.7;
}

.service{
	background: #000;
}

.service .one{
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 2rem 1.5rem;
	border-radius: 7px;
}

body > footer{
		background: #111!important;
}



@media screen and (max-width: 988px){
	.navbar{
	padding: 1rem;
}

#navbarSupportedContent > ul{
	padding-left: 0.8rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a{
	padding:0.8rem 0;
}