* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  display: grid;
  height: 100vh;
  place-items: center;
  background: #ffffff;
}
.main_div {
  width: 360px;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.main_div .title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
form {
  margin-top: 25px;
}
form .input_box {
  height: 50px;
  width: 100%;
  position: relative;
  margin-top: 15px;
}
.input_box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 45px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.input_box input:focus {
  border-color: #999999;
}
.input_box .icon {
  position: absolute;
  top: 33%;
  left: 20px;
  transform: translate(-50%);
  color: gray;
}
form .option_div {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.option_div .check_box {
  display: flex;
  align-items: center;
}
.option_div span {
  margin-left: 5px;
  font-size: 16px;
  color: #333;
}
.option_div .forget_div a {
  font-size: 16px;
  color: #069afd;
  text-decoration: none;
}
.button input {
  padding-left: 0;
  background: #0383fa;
  color: #ffffff;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.1s linear;
  opacity: 50%;
}
.button input:hover {
  opacity: 100%;
}
form .sign_up {
  text-align: center;
  margin-top: 25px;
}
.sign_up a {
  color: #069afd;
  text-decoration: none;
}
