
.summa1{
 font-family: verdana;
 
}
.grid-container{
  display: grid;
  justify-content: center;
}
table {

  border-collapse: collapse;
}
.hid{
  visibility: hidden;
}
.vis:hover .hid{
  visibility: visible;
}
.phd{
  visibility: hidden;
}
.ph:hover + .phd{
  visibility: visible;
}


th{
  text-align: center;
  padding: 2%;
}
td{
  padding: 8px;
  border:none;
}

.mobilename{
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem;
  
}
.mobilereview {
  padding: 0;
  margin-top: 0;
  font-size: 2vh;
  
}
tr:nth-child(even) {
  background-color: #dddddd;
}