*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/5.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
nav{
	display: flex;
	padding: 1% 2%;
	justify-content: space-between;
	align-items: center;
}

nav img{
	width: 150px;
}
.nav-links{
	flex: auto;
	text-align: center;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	font-weight: 400;
}


.nav-links ul li a:hover{
	color: rgb(252, 177, 42);
}
.text-box{
	width: 90%;
	color: rgb(252, 177, 42);
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%); 
}

.text-box h1{
	font-size: 2em;
}
.text-box span{
	color: #fff;
}
.dow-btn{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border:1px solid #fff;
	margin: 1%;
	padding: 1%;
	font-size: 15px;
	position: relative;
}
.dow-btn:hover{
	color: rgb(252, 177, 42);
	border-color: rgb(252, 177, 42);
}
@media(max-width: 700px){
	.text-box h1{
	font-size: 1.4em;
	}
	.nav-links ul li{
		display: block;
	}
	
}

.twohearts{
	margin: auto;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 80px;
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/2.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
.twohearts h1{
	color: rgb(252, 177, 42);
	font-size: 2em;

}

.twohearts .row{
	margin-top: 1%;
	display: column;
}

.twohearts-col{	
	border:1px solid #fff;
	color: #fff;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	width: 50%;
	top: 50%;
	left: 50%;
	transform: translate(50%,50%); 
	justify-content: center;
	
}
.twohearts-col h3{
	text-align: center;
	font-weight: 600;
	text-align: center;
	margin: 10px 0;
}

@media(max-width: 700px){
	.twohearts .row{
		flex-direction: column;
		width: 100%;
		
	}
	.twohearts h1{
	color: rgb(252, 177, 42);
	font-size: 1em;

	}
}

.who{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 80px;

}
.who h1{
	color: #808080;
	font-size: 2em; 
}
.who p{
	color: #808080;
	padding-top: 10px;
	font-size: 1.5em; 
}

.who .row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}

.who-col{
	flex-basis: 31%;
	background: #ffc966;	
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	
}
.who-col p{
	text-align: center;
	color: #000;
	font-size: 1.2em;
	font-weight: 600;
	text-align: center;
	margin: 10px 0;
}

@media(max-width: 700px){
	.who .row{
		flex-direction: column;
		width: 100%;
		
	}
}


.footer {
	width: 100%;
	text-align: center;
	padding: 30px 0;
	background: black;
	color: #fff;
}
.footer h4{
	margin-top: 20px;
	margin-bottom: 25px;
	font-weight: 600;
}
.footer p{
	margin-top: 15px;
	margin-bottom: 10px;
	font-weight: 300;
}


/*           about page    */
.aboutheader{
	height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/5.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}
.aboutheader h1{
	margin-top: 100px;
}
.about{
	width: 80%;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 50px;
	justify-content: center;
	text-align: center;
}

.about-col{
	flex-basis: 48%;
	padding: 30px 2px;
}
.about-col h1{
	margin-bottom: 15px;
}

.about-col a{
	color: black;
	border-color: black;
	margin-top: 20px;
}